#home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#home-content img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}


.home-title {
  font-size: 3rem;
  font-weight: 600;
  color: #333;
}

.home-subtitle {
  font-size: 2rem;
  font-weight: 400;
  color: #333;
}

.home-description {
  font-size: 1.5rem;
  font-weight: 400;
  color: #333;
}

.home-social-media-container {
  display: flex;
  gap: 20px;
}



@media (max-width: 973px) {
  #logo-container {
    margin-left: 10px;
  }
}